*.class
*.bin
*.swp
*~
*tmp
*.jar
*.war
*.ear
*.aux
*.log
*.pdf
*.synctex.gz
*.toc
*.bbl
*.blg
*.dvi
*.jar
*.sav
*.exe
*.msi
*.dll
/bin
!jl1.0.jar
!mp3spi1.9.5.jar
!org.OpenNI.jar
!RXTXcomm.jar
!tritonus_share.jar
!jaudiotagger.jar
!rxtxSerial.dll
